<div class="col-lg-12" style="margin-bottom: 80px">
	<%= search_form_for @keyword, url: search_path do  |f| %>
  		<h4><%= f.label :title_cont, "動画検索" %></h4>
  		<%= f.search_field :title_cont, placeholder: "検索ワードを入力してください", size: "50x50", style: 'color: #000000' %>
  		<%= f.submit '検索する', class:"btn btn-primary" %>
	<% end %>
</div>

