<div class="col-sm-offset-1" style="margin-bottom: 50px;">
	<h1>ForMoviesとは</h1>
		<div style="padding-left: 80px;">
			<h2>好きな事や趣味を気軽に動画で配信し、</h2>
			<h2 style="padding-left: 30px;">感動や応援したい気持ちを投げ銭で形として贈り合うことができます。</h2>
				<div style="padding-left: 120px;"><br><br>
					<h3>ユーザー登録後、ログイン中に動画の投稿や投げ銭が可能です。</h3>
					<h3>投げ銭が可能な回数はページの左上と、動画の再生ページで右側に表示される「ForMove」「F」の数分です。</h3>
					<h3>1 ForMoveは10円で、贈り合うことで残高は変動します。</h3>
					<h3>入金して残高を増やしたい場合には、入金申請をした上で入金し、承認されるとユーザーの<br>残高として反映されます。</h3>
				</div>
		</div>
	</div>
</div>
