<div class=""col-sm-12>
	<div class="col-sm-6">
		<h1 class="col-sm-12 text-center">受信一覧</h1>
		<h3 class="col-sm-2">ユーザー名</h3>
		<h3 class="col-sm-2">コンテンツ名</h3>
		<h3 class="col-sm-2">日時</h3>
	</div>
	<div class="col-sm-6">
		<h1 class="col-sm-12 text-center">送信一覧</h1>
		<h3 class="col-sm-2">ユーザー名</h3>
		<h3 class="col-sm-2">コンテンツ名</h3>
		<h3 class="col-sm-2">日時</h3>
	</div>
</div>
