<div class="col-xs-offset-4 col-sm-4" style="margin-top: 40px;">
	<% current_user.followings.each do |user| %>
		<div class="col-sm-12">
			<%= link_to user_path(user) do %>
				<h2>
					<%= image_tag user.image_url, size: "150x150" %>
  					<span style="padding-left: 30px;"><%= user.name %></span>
  				</h2>
  			<% end %>
  		</div>
	<% end %>
</div>